#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #fafafa, #D0E2F8);
}

.header {
  flex: 0.25;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1rem;
  overflow: hidden;
}

.body {
  flex: 5;
  overflow-y: hidden;
}

.body img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* .footer {
  border-width: 0.75px;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  flex: 0.4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 0.75rem 0.75rem 0.75rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
} */

.message_box {
  flex: 9;
  height: 80%;
  border-radius: 1.5rem;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  padding: 0.3rem;
  padding-left: 0.7rem;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 1rem;
}

.message_box:focus {
  outline: none;
}

.button {
  font-size: 1.5rem;
  color: rgb(190,190,190);
}

.button:hover {
  color: rgb(123, 123, 123);
}

.send_button {
  flex: 1;
}