.main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: scroll;
}

.footer {
  border-width: 0.75px;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  flex: 0.4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 0.75rem 0.75rem 0.75rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
}