.parent {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button {
    padding: 1rem;
    background-color: rgb(57, 126, 255);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(74, 137, 255);
}

.message_box {
    border-radius: 1.2rem;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    padding: 0.5rem 1rem 0.5em 1rem;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 1rem;
}

.logo_container {
    flex: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 10rem;
    height: auto;
}

.login_contents {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}